{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <form action="{% url 'newPost' %}" method="post" class="mt-3">
            {% csrf_token %}
            <div class="form-group">
                {{ NewPost }}
            </div>
            <button type="submit" class="btn btn-success">Submit New Post</button>
        </form>
        {% for post in page_obj %}
            {% include "network/post.html" %}
        {% empty %}
            <h3>Nothing to display, try following some people!</h3>
        {% endfor %}
        {% include "network/pagination.html" %}
        {% include "network/editModal.html" %}
    {% else %}
        <h1>Please Login to see some posts!</h1>
    {% endif %}
{% endblock %}
