{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <form action="{% url 'newPost' %}" method="post" class="mt-3">
            {% csrf_token %}
            <div class="form-group">
                {{ NewPost }}
            </div>
            <button type="submit" class="btn btn-success">Submit New Post</button>
        </form>
        {% for post in page_obj %}
            {% include "network/post.html" %}
        {% empty %}
            <h3>Nothing to display, try following some people!</h3>
        {% endfor %}
        {% include "network/pagination.html" %}
        {% include "network/editModal.html" %}
    {% else %}
        <h3>Welcome to the &uuml; Network</h3>
        <h4>We are glad to have you, please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">Register</a> to continue.</h4>
    {% endif %}
{% endblock %}
