<div class="card text-white bg-dark my-3">
    <div class="card-header">
        <h5 class="card-title">
            <a href="{% url 'profile' post.user.username %}" style="color:white">
                {{ post.user.username }}
            </a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.date }}</h6>
    </div>
    <div class="card-body">
        <span class="content" id="content_{{ post.id }}">{{ post.content }}</span>
        <br />
        <a href="#" class="card-link like" id="like_{{ post.id }}">Like</a>
    </div>
    {% if post.user.id is user.id %}
        <button type="button" class="btn btn-primary edit" data-toggle="modal" data-target="#editModal" id="{{ post.id }}">Edit Post</button>
    {% endif %}
</div>
