<div class="card text-dark bg-light my-3">
    <div class="card-header">
        <h5 class="card-title row">
            <a href="{% url 'profile' post.user.username %}" class="col-sm-10" style="color:black">
                &uuml; &mdash; {{ post.user.username }}
            </a>
            {% if post.user in user.following.all %}
                <a href="{% url 'unfollow' username=post.user.username %}" class="card-link col-sm-2">unfollow</a>
            {% elif post.user.id is user.id %}

            {% else %}
                <a href="{% url 'follow' username=post.user.username %}" class="card-link col-sm-2">follow</a>
            {% endif %}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.date }}</h6>
        <a href="" id="{{ post.id }}"data-toggle="modal" data-target="#likesModal" onClick="getLikes(this.id)" style="color:black">likes:</a> <span href="#" class="likes" id="likes_{{ post.id }}">{{ post.likes.count }}</span>

    </div>
    <div class="card-body">
        <span class="content" id="content_{{ post.id }}">{{ post.content_html|safe }}</span>
    </div>
    {% if post.user.id is not user.id %}
        <div class="card-footer">
            {% if user not in post.likes.all %}
                <button type="button" onclick="likePost(this)" class="card-link btn btn-outline-primary like" id="{{ post.id }}">Like</button>
            {% else %}
                <button type="button" onclick="likePost(this)" class="card-link btn btn-primary unlike" id="{{ post.id }}">unlike</button>
            {% endif %}
        </div>
    {% elif post.user.id is user.id %}
        <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block edit" data-toggle="modal" data-target="#editModal" id="{{ post.id }}">Edit Post</button>
        </div>
    {% endif %}
</div>
