{% extends "network/layout.html" %}

{% block title %} &commat;{{ user_profile.username }} {% endblock %}

{% block body %}
    <h1>&commat;{{ user_profile }}</h1>
    <h2>Follows: {{ user_profile.following.count }}</h2>
    <h2>Current Followers: {{ user_profile.followers.count }}</h2>

    {% if user.is_authenticated %}
        {% if user != user_profile %}
            {% if not isFollowing %}
                <form action="{% url 'follow' username=user_profile.username %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">Follow</button>
                </form>
            {% elif isFollowing%}
                <form action="{% url 'unfollow' username=user_profile.username %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Un-Follow</button>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
    {% for post in page_obj %}
        {% include "network/post.html" %}
    {% endfor %}
    {% include "network/pagination.html" %}
    {% include "network/editModal.html" %}

{% endblock %}
