.ql-editor {
    min-height: 10em;
}

.card-header, .card-footer {
    background: #e6ccff;
}

.card {
    border-color: black;
}

.card-link {
    color: #6600cc;
}

.btn-primary {
    color: white;
    background-color: #6600cc;
    border-color: #6600cc;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #4d0099;
    border-color: #6600cc;
}

.btn-outline-primary, .btn-outline-primary:focus {
    border-color: #6600cc;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    background-color: #6600cc;
    border-color: #6600cc;
}
